
<html>
<head>
  <meta charset="utf-8">
  <title>GitHubProfileSearcher</title>
</head>
<body>
<style>
  html,
  body {
    background-repeat: no-repeat;
    height: 100vh !important;
  }

</style>
<h3> It seems that you are offline. Please check your internet connection.</h3>

<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="hover-area"></div>
<div class="star-field">
  <div class="stars stars-sm"></div>
  <div class="stars stars-md"></div>
  <div class="stars stars-lg"></div>
</div>
<div class="ship">
  <div class="wrapper">
    <div class="body side left"></div>
    <div class="body main">
      <div class="wing left"></div>
      <div class="wing right"></div>
      <div class="booster"></div>
      <div class="exhaust"></div>
    </div>
    <div class="body side right"></div>
  </div>
</div>
<h4>move the mouse to move rocket </h4>
</body>

</html>
